@import '../../../styles/app'

.container
    position: absolute
    right: 0px
    width: 446px    
    height: 100%
    padding-bottom: 32px
    @media screen and ( max-width: 600px )
        width: 100%

.input_block
    position: relative
    width: 100%
    margin-bottom: 12px

.mailForm__submitContainer
    width: 100%
    height: 48px
    margin-top: 32px

.submit_btn
    width: 100%
    height: 32px !important
    margin-bottom: 32px !important
    input
        width: 100%
        text-transform: lowercase
        font-family: 'Conv_19888', sans-serif
        text-shadow: $textShadow-1px