@import '../app'

.mailForm__container
    position: relative
    margin: auto
    width: 400px

.mailForm__title
    color: $def-color

.mailForm__submitContainer
    width: 100%
    height: 32px
    margin-top: 48px